
.primary {
  background-color: #d50000;
  color:#fadede;
}
.primary-dark {
  background-color: #9b0000;
  color:#fadede;
}
.primary-light {
  background-color: #ff5131;
  color:#210a06;
}
.text-color {
  color:#ffffff;
}
.paper {
  background-color: #fafafa
}
body {
  margin: 0;
}
header {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  left: 0;
  right: 0;
  top: 32px;
  z-index: 1;
  position: fixed;
}
header {
  line-height: 56px;
  height: 56px;
  padding: 0 16px
}
html {
    font-family: Roboto,sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
  color: #d50000;
  font-weight: 400;
}
main {
  margin: 64px 16px;
}
.nav-icon {
  height: 100%;
  padding-left: 16px
}
.nav-title {
  font-weight: bold;
  padding: 0 72px 20px 0;
  vertical-align:middle;
}
.status-bar {
  font-weight: 300;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.status-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


/* User Define Styles
.dispenser {
  border-color: #757575;
  border-style: solid;
  border-top-style: dotted;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-width: medium;
  width: 252px;
  height: 35px;
}*/
.selected-candy {
    border-radius: 22px;
    color: #ffffff;
    margin: 4px;
    padding: 4px;
    text-align: center;
}

.candy {
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  position: relative;
  width: 60px;
}
.container {
  margin:5px;
  padding: 10px
}
.container-cell {
  display: table-cell;
}
.table-container {
  margin-top: 100px;
  display: table;
  width: 100%;
}
.resize-300 {
  max-width: 300px
}
.center {
    text-align: center;
}
.btn-c-wrapper {
   border-radius: 50%;
   border-style: none;
   display: inline-block;
   outline: none;
   height: 80px;
   margin: 5px;
   width: 80px;
}
.btn-circle , .btn-regular{
    border-radius: inherit;
    border-style: inherit;
    cursor: not-allowed;
    display:inherit;
    height: inherit;
    margin: 5px;
    outline: inherit;
    transition: .3s;
    width: inherit;
}
#btnHover {
  cursor: pointer !important;
}
#btnHover:hover {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.65);
    transform: scale(1.01);
}
.btn-r-wrapper {
  border-radius: 5%;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  height: 44px;
  margin: 5px;
  width: 140px;
}

.btn-snipet {
    border-radius: 20px;
    border-style: solid;
    color: white;
    cursor: pointer;
    margin: 10px;
    outline: none;
    padding: 7px;
}
.form {
  display: none;
}

.dialog {
  background-color: #fafafa;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  margin: 65px auto;
  max-width: 700px;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  box-shadow: 0 0 12px black;
}

.d-wrapper {
  transition: .3s;
}

.d-header {
  display: flex;
  align-items: flex-start;
}

.d-header > span,.d-header > button  {
  flex: 1;
}

.d-close {
  align-self: right;
  max-width: 25px;
}
.p50 {
  width: 50%;
}
.d-title {
  color: #d50000;
  font-size: x-large;
  font-weight: 300;
  text-align: center;
}
.dc-content {
  background-color: #E0E0E0;
  border-radius: 2px;
  height: 430px;
  margin: 4PX;
}
.chooser {
    background-color: rgb(221, 221, 221);
    position: relative;
    border-radius: 2px;
    padding: 13px;
    margin-top: 11px;
}
