/*
//Created by : Kid Romart Medinate
//Started Date : Sunday 30, 2017; 5:12 PM
//Deadline Date : Tuestday 1, 2017
//Data Struture on WebApp
*/
body {
  font-family: lato-reg;
  margin: 0;
}

header {
  background-color: #2196F3;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  color: white;
  height: 100%;
  max-height: 58px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

div.title {
  font-weight: bold;
  margin: 20px;
}

nav {
    background-color: #BBDEFB;
    color: #263238;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 83px;
    z-index: 1;
}

nav> ul{
    list-style-type: none;
    padding: 1px 1px 1px 0px;
}
nav>ul>li {
    cursor: pointer;
    display: flex;
    padding: 16px;
    transition: .3s;
}

nav>ul>li>span {
    padding-top: 3px;
    padding-left: 16px;
}

nav>ul>li:hover {
  background-color: #1976D2;
  color: white;
}

main {
  background-image: url(../img/mate_black.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 92px;
  width: 100%;
}

main>section, main>div.welcome {
  height: 100%;
  margin-left: 190px;
  padding: 13px;
}

main>section {
  display: none;
}

div.developer {
    background-color: #1E88E5;
    color: #EEEEEE;
    padding: 7px;
}

div.panel-box {
  text-align: center;
}
div.container-box {
    background-color: #0D47A1;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 200px;
    margin: 30px;
    transition: .3s;
    width: 200px;
    box-shadow: 0 0 3px #424242;
}

div.container-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 6px #424242;
}

div.header>i {
    font-size: 100px;
    padding: 47px 47px 0px 47px;
}
div.c-b-title {
  font-size: 25px;
}

div.dialogs {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

div.dialogs>div.middle {
    display: none;
    background-color: rgba(0, 0, 0, 0.82);
    vertical-align: middle;
}

div.d-m-center {
  background-color: #fffefe;
  border-radius: 2px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
  padding: 19px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.46)
}

div.d-title {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #1E88E5;
    display: inline-flex;
    margin-bottom: 25px;
    padding: 5px 0px 13px;
    width: 100%;
}

div.d-title>i {
    color: #00bcd4;
}

div.d-title>span {
    color: #424242;
    font-weight: bold;
    padding: 3px 13px;
}

div.cls-d {
    color: #F44336;
    cursor: pointer;
    position: relative;
}

div.flex {
  display: flex;
}

div.btn-next  {
    background-color: #1565C0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    float: right;
    margin: 5px;
    padding: 8px;
}

input.in-number {
    border: none;
    border-bottom-style: solid;
    border-color: #283593;
    border-width: 2px;
    color: #F44336;
    font-size: 18px;
    margin-left: 13px;
    outline: none;
    text-align: center;
    width: 80px;
}

div.b-top {
  background-color: #424242;
  border-radius: 2px;
  color: white;
  display: none;
  margin: auto;
  max-width: 200px;
  text-align: center;
  top: 0;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 3px black;
}

div.b-label {
    padding: 14px;
    box-shadow: 0 0px 0px black;
}

div.b-label>div {
  padding: 3px 7px;
}

.btn-blue {
    background-color: #1A237E;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin: 5px;
    padding: 12px;
    text-align: center;
}

div.h-main-content>p {
    background-color: #01579B;
    border-radius: 2px;
    color: white;
    margin: 10px;
    padding: 16px;
}

div.h-main-content>p>span {
    background-color: #F44336;
    border-radius: 15px;
    margin: 1px 20px 1px -34px;
    padding: 5px;
}

div.nav-pin {
  border-radius: 50%;
  color: white;
  font-size: 12px;
  height: 14px;
  margin-left: 8px;
  margin-top: -7px;
  padding: 4px;
  text-align: center;
  width: 14px;
}

div.h-main-content {
    height: 80%;
    overflow-y: scroll;
    padding-left: 20px;
}

span.status.down {
    background-color: #ffffff;
    border-radius: 0;
    color: #F44336;
    cursor: pointer;
    display: inline-grid;
    float: right;
    margin: -16px -4px -16px -12px;
    padding: 4px;
    text-align: center;
    box-shadow: 0 0 3px black;
}

span.status.up {
    background-color: #ffffff;
    border-radius: 0;
    color: #4CAF50;
    cursor: pointer;
    display: inline-grid;
    float: right;
    margin: -16px -4px -16px -12px;
    padding: 4px;
    text-align: center;
    box-shadow: 0 0 3px black;
}

div.panel-reports>div>canvas {
    display: block;
    background-color: #263238;
    border-radius: 2px;
    margin: 20px;
    padding-bottom: 17px;
    box-shadow: 0 1px 3px #424242;
}

div.panel-reports {
    height: 560px;
    overflow-y: scroll;
}

div.left-corner {
    display: flex;
}

table.table-chart, div.card-breakdown {
    background-color: #0D47A1;
    border-color: #0D47A1;
    border-style: solid;
    border-width: 2px;
    color: white;
    margin: 10px auto;
    padding: 8px;
    box-shadow: 0 0px 2px black;
}
div.card-breakdown {
    width: auto;
}
table.table-chart>tbody>tr>th {
    background-color: rgba(227, 242, 253, 0.13);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: lato-light;
    padding: 4px;
}

td  {
    background-color: rgba(189, 189, 189, 0.35);
    text-align: center;
}
